/* From uiverse.io */
.button-card {
    --color: #302b63;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--color);
    transition: color .5s;
    z-index: 1;
    border-radius: 6px;
    color: var(--color);
   }
   
   .button-card:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .button-card:hover {
    color: #fff;
   }
   
   .button-card:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .button-card:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .button-card:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }